.App {
    display: flex;
    flex-direction: column;
    --header_height: 60px;
    align-items: flex-start;
    padding-left: 70px;
}

.hw {
padding-top: 30px ;
}

.hwTitle {
    width: 165px;
    height: 27px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;

    border-bottom: 1px solid #D9D9D9 ;
}

.HW1 {
    padding-top: 107px;
}

.HW2 {
    padding-top: 39px;
}